/******************** WRAPPERS AND CONTAINERS ********************/

.theater-container {
  position: relative;
  background-color: #1B1B1B;
}

.video-frame-container {
  display: block;
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0px;
}



/******************** CONTROL PANEL ********************/

.theater-container .control-panel {
  display: block;
  padding: 0px 16px;
  margin: 0px;
  background: rgb(72, 93, 255);
}
.theater-container .control-panel .layout-select-button-group {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}



.theater-container .control-panel .layout-select-button {
  display: inline-block;
  position: relative;
  margin: 0px 16px 0px 0px;
  padding: 8px;
  top: 0px;
  width: 80px;
}
.theater-container .control-panel .layout-select-button .label {
  display: block;
  margin: 6px 0px 0px 0px;
  padding: 0px;
  color: white;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 1;
}
.theater-container .control-panel .layout-select-button:last-child {
  margin-right: 0px;
}
.theater-container .control-panel .layout-select-button:hover,
.theater-container .control-panel .layout-select-button.selected {
  background-color: rgba(255, 255, 255, 0.125);
}

.theater-container .control-panel .layout-select-button:before {
  content: "";
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  top: 0px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.theater-container .control-panel .layout-select-button.layout-select-fullscreen:before {
  background-image: url(i_fullscreen.svg);
}
.theater-container .control-panel .layout-select-button.layout-select-splitscreen:before {
  background-image: url(i_splitscreen.svg);
}
.theater-container .control-panel .layout-select-button.layout-select-corners:before {
  background-image: url(i_corners.svg);
}



/******************** VIDEO FRAMES ********************/

.video-frame-container .video-frame {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 0px;
  transition: top, right, bottom, left;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.42,.18,.12,1);
  background-color: #1B1B1B;
}
.video-frame-container .video-frame > * {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.video-frame-container .video-frame.entering,
.video-frame-container .video-frame.exiting {
  animation-duration: .5s;
  animation-iteration-count: 1;
}
.video-frame-container .video-frame.entering {
  animation-name: no-op-enter;
}
.video-frame-container .video-frame.exiting {
  animation-name: no-op-exit;
}
@keyframes no-op-enter {
  from {
    filter: brightness(25%);
  }
  to {
    filter: brightness(100%);
  }
}
@keyframes no-op-exit {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(25%);
  }
}



/******************** VIDEO SELECTION FORM ********************/

.video-frame .video-selection-form {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-frame .video-selection-form .manual-wrapper {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-frame .video-selection-form .instructions {
  margin: 2em 0px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}
.video-frame .video-selection-form .instructions p {
  text-align: center;
}
.video-frame .video-selection-form input {
  font-weight: normal;
  font-family: "Courier New", Courier, monospace, Helvetica, Arial, sans-serif;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.0);
  transition: box-shadow ease 0.5s;
}
.video-frame .video-selection-form input[type=text] {
  display: inline-block;
  margin: 0px 8px 0px 48px;
  padding: 9px 8px 7px;
  width: 16em;
  height: 16px;
  font-size: 16px;
  border: 4px solid rgb(72, 93, 255);
  border-radius: 20px;
}
.video-frame .video-selection-form input[type=submit] {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 100%;
  background: url(go_arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.video-frame .video-selection-form input:focus {
  outline: none;
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.5);
}



/******************** VIDEO DROP FORM ********************/

.video-frame .video-selection-form .drag-overlay {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  left: 16px;
  border: 8px dashed rgb(72, 93, 255);
  border-radius: 16px;
  background: rgba(238, 238, 238, 0.5);
  opacity: 0;
  transition: opacity ease 0.5s;
  pointer-events: none;
}
.video-frame .video-selection-form.dragover .drag-overlay {
  opacity: 1;
}


