.theater-container {
  position: relative;
}

.video-frame-container {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.video-frame-container .video-frame {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 0;
  transition: top, right, bottom, left;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.42,.18,.12,1);
  background-color: #eee;
}
.video-frame-container .video-frame > * {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}



.theater-container .control-panel {
  display: block;
  padding: 0px 16px;
  margin: 0;
  background: rgb(72, 93, 255);
}
.theater-container .control-panel .layout-select-button-group {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
}



.theater-container .control-panel .layout-select-button {
  display: inline-block;
  position: relative;
  margin: 0px 16px 0px 0px;
  padding: 8px;
  top: 0px;
  width: 80px;
}
.theater-container .control-panel .layout-select-button .label {
  display: block;
  margin: 6px 0px 0px 0px;
  padding: 0px;
  color: white;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 1;
}
.theater-container .control-panel .layout-select-button:last-child {
  margin-right: 0px;
}
.theater-container .control-panel .layout-select-button:hover,
.theater-container .control-panel .layout-select-button.selected {
  background-color: rgba(255, 255, 255, 0.125);
}

.theater-container .control-panel .layout-select-button:before {
  content: "";
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  top: 0px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.theater-container .control-panel .layout-select-button.layout-select-fullscreen:before {
  background-image: url(i_fullscreen.svg);
}
.theater-container .control-panel .layout-select-button.layout-select-splitscreen:before {
  background-image: url(i_splitscreen.svg);
}
.theater-container .control-panel .layout-select-button.layout-select-corners:before {
  background-image: url(i_corners.svg);
}


.video-frame-container .video-frame.entering,
.video-frame-container .video-frame.exiting {
  animation-duration: .5s;
  animation-iteration-count: 1;
}
.video-frame-container .video-frame.entering {
  animation-name: no-op-enter;
}
.video-frame-container .video-frame.exiting {
  animation-name: no-op-exit;
}
@keyframes no-op-enter {
  from {}
  to {}
}
@keyframes no-op-exit {
  from {}
  to {}
}


.video-frame-container .video-frame > .overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  background: black;
  animation-delay: 0s;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(.42,.18,.12,1);
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.video-frame-container .video-frame.entering > .overlay {
  animation-name: frame-overlay-enter;
}
.video-frame-container .video-frame.exiting > .overlay {
  animation-name: frame-overlay-exit;
}
@keyframes frame-overlay-enter {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}
@keyframes frame-overlay-exit {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}
